In [11]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### To train the model
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
# Current working directory
print(os.getcwd())

C:\Users\krish\Desktop\All_ML\fast_campus

In [3]:
## data opening
df = pd.read_csv("Data/otto_train.csv")
df.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [5]:
# length 
nCar = df.shape[0]
nVar = df.shape[1]
print("nCar %d"%nCar, "nVar: %d" %nVar)

nCar 61878 nVar: 95

In [6]:
# id column is meaning less so lets drop
df = df.drop(["id"], axis = 1) # id delete

In [9]:
mapping_dict = {"Class_1": 1,
                "Class_2": 2,
                "Class_3": 3,
                "Class_4": 4,
                "Class_5": 5,
                "Class_6": 6,
                "Class_7": 7,
                "Class_8": 8,
                "Class_9": 9}
after_mapping_target = df['target'].apply(lambda x: mapping_dict[x])

In [10]:
### 
feature_columns = list(df.columns.difference(["target"]))

x = df[feature_columns]
y = after_mapping_target

x_train, x_test, y_train, y_test = train_test_split(x, y,
                                                    test_size = 0.2,
                                                   random_state =  42 )
print(x_train.shape, )

(49502, 93)

#### Train and test the Model

In [17]:
tree_model = DecisionTreeClassifier(max_depth=5) # Maximum depth of Tree

Adaboost_model1 = AdaBoostClassifier(base_estimator=tree_model,
                                    n_estimators=20,
                                    random_state=42)

model1 = Adaboost_model1.fit(x_train, y_train)
predict1 = model1.predict(x_test)

print("Accuracy %.2f"%(accuracy_score(y_test, predict1) *100))

Accuracy 63.24

In [27]:
# Only tree model

og = DecisionTreeClassifier(max_depth = 20, criterion="entropy").fit(x_train, y_train)
og_predict = og.predict(x_test)
print("Accuracy %.2f"%(accuracy_score(y_test, og_predict)))
# Only Tree model accuracy is far less

Accuracy 0.71

### Increase the depth

In [14]:
tree_model2 = DecisionTreeClassifier(max_depth = 20)
Adaboost_model3 = AdaBoostClassifier(base_estimator = tree_model2,
                                    n_estimators=300,
                                    random_state = 42)
model3  = Adaboost_model3.fit(x_train, y_train)

predict3 = model3.predict(x_test)

print("Accuracy %.2f"%(accuracy_score(y_test, predict1)*100))

Accuracy 63.24

### Increase the tree maximum

In [15]:
tree_model3 = DecisionTreeClassifier(max_depth = 100)
Adaboost_model4 = AdaBoostClassifier(base_estimator = tree_model3,
                                    n_estimators=300,
                                    random_state = 42)

model4 = Adaboost_model4.fit(x_train, y_train)
predict4 = model4.predict(x_test)
print("Accuracy %.2f"%(accuracy_score(y_test, predict4) * 100))

Accuracy 70.81

In [ ]:
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html

### Thank you