In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Data/kc_house_data.csv")
df.head()

,id,date,price,bedrooms,bathrooms,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1.0,0,3,7,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2.0,0,3,7,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,1.0,0,3,6,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1.0,0,5,7,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1.0,0,3,8,1987,0,98074,47.6168,-122.045

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            21613 non-null  int64
 1   date          21613 non-null  object
 2   price         21613 non-null  float64
 3   bedrooms      21613 non-null  int64
 4   bathrooms     21613 non-null  float64
 5   floors        21613 non-null  float64
 6   waterfront    21613 non-null  int64
 7   condition     21613 non-null  int64
 8   grade         21613 non-null  int64
 9   yr_built      21613 non-null  int64
 10  yr_renovated  21613 non-null  int64
 11  zipcode       21613 non-null  int64
 12  lat           21613 non-null  float64
 13  long          21613 non-null  float64
dtypes: float64(5), int64(8), object(1)
memory usage: 2.3+ MB

In [6]:
df.describe()

,id,price,bedrooms,bathrooms,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.401822e+05,3.370842,2.114757,1.494309,0.007542,3.409430,7.656873,1971.005136,84.402258,98077.939805,47.560053,-122.213896
std,2.876566e+09,3.673622e+05,0.930062,0.770163,0.539989,0.086517,0.650743,1.175459,29.373411,401.679240,53.505026,0.138564,0.140828
min,1.000102e+06,7.500000e+04,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1.000000,0.000000,3.000000,7.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1.500000,0.000000,3.000000,7.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2.000000,0.000000,4.000000,8.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,3.500000,1.000000,5.000000,13.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000

In [8]:
## in Korean
print('''
id: 집 고유아이디
date: 집이 팔린 날짜 
price: 집 가격 (타겟변수)
bedrooms: 주택 당 침실 개수
bathrooms: 주택 당 화장실 개수
floors: 전체 층 개수
waterfront: 해변이 보이는지 (0, 1)
condition: 집 청소상태 (1~5)
grade: King County grading system 으로 인한 평점 (1~13)
yr_built: 집이 지어진 년도
yr_renovated: 집이 리모델링 된 년도
zipcode: 우편번호
lat: 위도
long: 경도
''')

id: 집 고유아이디
date: 집이 팔린 날짜
price: 집 가격 (타겟변수)
bedrooms: 주택 당 침실 개수
bathrooms: 주택 당 화장실 개수
floors: 전체 층 개수
waterfront: 해변이 보이는지 (0, 1)
condition: 집 청소상태 (1~5)
grade: King County grading system 으로 인한 평점 (1~13)
yr_built: 집이 지어진 년도
yr_renovated: 집이 리모델링 된 년도
zipcode: 우편번호
lat: 위도
long: 경도

## Removing column less effective in analysis

In [9]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'floors', 'waterfront',
       'condition', 'grade', 'yr_built', 'yr_renovated', 'zipcode', 'lat',
       'long'],
      dtype='object')

In [12]:
columns_to_drop = ["id", "date", "zipcode", 'lat', 'long']

df= df.drop(columns= columns_to_drop)

# can done in same way like
#df = df.drop(columns_to_drop, axis = 1)

In [14]:
feature_coumns = df.columns.difference(["price"]) # x columns

x = df[feature_coumns]
y = df["price"]

In [17]:
# split the data in to training and test data 
x_train, x_test, y_train, y_test  = train_test_split(x,y,test_size = 0.3, random_state = 42 )
print(x_train.shape, x_test.shape, y_train.shape)

(15129, 8) (6484, 8) (15129,)

## Train model without bagging

In [20]:
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt
sm_train_x = sm.add_constant(x_train, has_constant="add") # Add Bias

sm_model = sm.OLS(y_train, sm_train_x) # create a model
fitted_sm_model = sm_model.fit() 
fitted_sm_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.595
Model:                            OLS   Adj. R-squared:                  0.595
Method:                 Least Squares   F-statistic:                     2776.
Date:                Wed, 21 Apr 2021   Prob (F-statistic):               0.00
Time:                        21:01:19   Log-Likelihood:            -2.0826e+05
No. Observations:               15129   AIC:                         4.165e+05
Df Residuals:                   15120   BIC:                         4.166e+05
Df Model:                           8
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         7.186e+06   1.73e+05     41.548      0.000    6.85e+06    7.52e+06
bathrooms     1.303e+05   3960.833     32.889      0.000    1.23e+05    1.38e+05
bedrooms     -2224.7910   2382.356     -0.934      0.350   -6894.497    2444.915
condition     1.641e+04   3169.013      5.178      0.000    1.02e+04    2.26e+04
floors        1946.3052   4336.838      0.449      0.654   -6554.422    1.04e+04
grade         1.956e+05   2199.540     88.924      0.000    1.91e+05       2e+05
waterfront    7.555e+05   2.26e+04     33.479      0.000    7.11e+05       8e+05
yr_built     -4300.7865     88.073    -48.832      0.000   -4473.420   -4128.153
yr_renovated    12.7325      5.043      2.525      0.012       2.847      22.618
==============================================================================
Omnibus:                    13447.374   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1684794.827
Skew:                           3.763   Prob(JB):                         0.00
Kurtosis:                      54.147   Cond. No.                     1.82e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.82e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#### Predict in test

In [25]:
sm_test_x = sm.add_constant(x_test, has_constant= "add") # Adding Bias in testing data
sm_model_predict  = fitted_sm_model.predict(sm_test_x) # Predict test data
print("RMSE: {}".format(sqrt(mean_squared_error(sm_model_predict, y_test)))) #RMSE
print(fitted_sm_model.params)

RMSE: 239804.29670858165
const           7.185671e+06
bathrooms       1.302689e+05
bedrooms       -2.224791e+03
condition       1.641020e+04
floors          1.946305e+03
grade           1.955909e+05
waterfront      7.555423e+05
yr_built       -4.300787e+03
yr_renovated    1.273246e+01
dtype: float64

## Check weather Bagging is better or not

In [ ]:
import random
bagging_predict_result = [] # creating blank list

for _ in range(10):
    data_index = [data_index for data_index in range(x_train.shape[0])]
    # Training data index in list format
    
    random_data_index = np.random.choice(data_index, x_train.shape[0])
    # Random sampling of 1/10