In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame([[0,2,3], [0,4,1], [10,20,30]], 
                 columns=["A", "B", "C"])
df

    A   B   C
0   0   2   3
1   0   4   1
2  10  20  30

In [9]:
df.iat[0,2] # Row Index and Column index

3

In [11]:
df.iat[0,2] = "hello"
df

    A   B      C
0   0   2  hello
1   0   4      1
2  10  20     30

In [20]:
mydict = [{'a':1, 'b':0, 'c':3, 'd':2},
          {'a':2, 'b':2, 'c':6, 'd':4},
          {'a':1, 'b':1, 'c':3, 'd':5},
          {'a':3, 'b':2, 'c':5, 'd':4},
          {'a':1, 'b':3, 'c':3, 'd':1},
          {'a':4, 'b':5, 'c':2, 'd':2},
          
         ]
df = pd.DataFrame(mydict)
df

   a  b  c  d
0  1  0  3  2
1  2  2  6  4
2  1  1  3  5
3  3  2  5  4
4  1  3  3  1
5  4  5  2  2

In [35]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [36]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [37]:
df.loc[["viper", 'sidewinder'], ["shield"]] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [39]:
df.loc[:, ["shield"]] = "hello"
df

            max_speed shield
cobra               1  hello
viper               4  hello
sidewinder          7  hello