In [1]:
import pandas  as pd 
from sklearn.preprocessing import LabelEncoder

In [5]:
data = [[10,"red"], [20,"blue"], [12, "red"],[16, "green"], [22, "blue"]]
df = pd.DataFrame(data, columns= ["length", "color" ])
df

   length  color
0      10    red
1      20   blue
2      12    red
3      16  green
4      22   blue

In [7]:
encoder = LabelEncoder()
df["color"] = encoder.fit_transform(df["color"])
df

   length  color
0      10      2
1      20      0
2      12      2
3      16      1
4      22      0

## One Hot Encoder

In [8]:
data = [[10, 'red'], [20, 'blue'], [12, 'red'], [16, 'green'], [22, 'blue']]
df = pd.DataFrame(data, columns=["length", "color"])
df

   length  color
0      10    red
1      20   blue
2      12    red
3      16  green
4      22   blue

In [10]:
df = pd.get_dummies(df, columns=["color"])
df

   length  color_blue  color_green  color_red
0      10           0            0          1
1      20           1            0          0
2      12           0            0          1
3      16           0            1          0
4      22           1            0          0