## imprt required library

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# data from kaggle otto_train
df = pd.read_csv("Data/otto_train.csv")

In [3]:
df.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [4]:
print(df.shape)

(61878, 95)

In [5]:
df.isna().sum()

id         0
feat_1     0
feat_2     0
feat_3     0
feat_4     0
          ..
feat_90    0
feat_91    0
feat_92    0
feat_93    0
target     0
Length: 95, dtype: int64

In [6]:
df.describe()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,61878.000000,61878.00000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,...,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000
mean,30939.500000,0.38668,0.263066,0.901467,0.779081,0.071043,0.025696,0.193704,0.662433,1.011296,...,0.070752,0.532306,1.128576,0.393549,0.874915,0.457772,0.812421,0.264941,0.380119,0.126135
std,17862.784315,1.52533,1.252073,2.934818,2.788005,0.438902,0.215333,1.030102,2.255770,3.474822,...,1.151460,1.900438,2.681554,1.575455,2.115466,1.527385,4.597804,2.045646,0.982385,1.201720
min,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15470.250000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30939.500000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,46408.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,61878.000000,61.00000,51.000000,64.000000,70.000000,19.000000,10.000000,38.000000,76.000000,43.000000,...,76.000000,55.000000,65.000000,67.000000,30.000000,61.000000,130.000000,52.000000,19.000000,87.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 95 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       61878 non-null  int64
 1   feat_1   61878 non-null  int64
 2   feat_2   61878 non-null  int64
 3   feat_3   61878 non-null  int64
 4   feat_4   61878 non-null  int64
 5   feat_5   61878 non-null  int64
 6   feat_6   61878 non-null  int64
 7   feat_7   61878 non-null  int64
 8   feat_8   61878 non-null  int64
 9   feat_9   61878 non-null  int64
 10  feat_10  61878 non-null  int64
 11  feat_11  61878 non-null  int64
 12  feat_12  61878 non-null  int64
 13  feat_13  61878 non-null  int64
 14  feat_14  61878 non-null  int64
 15  feat_15  61878 non-null  int64
 16  feat_16  61878 non-null  int64
 17  feat_17  61878 non-null  int64
 18  feat_18  61878 non-null  int64
 19  feat_19  61878 non-null  int64
 20  feat_20  61878 non-null  int64
 21  feat_21  61878 non-null  int64
 22  feat_22  61878 non-null  int64
 23  feat_23  61878 non-null  int64
 24  feat_24  61878 non-null  int64
 25  feat_25  61878 non-null  int64
 26  feat_26  61878 non-null  int64
 27  feat_27  61878 non-null  int64
 28  feat_28  61878 non-null  int64
 29  feat_29  61878 non-null  int64
 30  feat_30  61878 non-null  int64
 31  feat_31  61878 non-null  int64
 32  feat_32  61878 non-null  int64
 33  feat_33  61878 non-null  int64
 34  feat_34  61878 non-null  int64
 35  feat_35  61878 non-null  int64
 36  feat_36  61878 non-null  int64
 37  feat_37  61878 non-null  int64
 38  feat_38  61878 non-null  int64
 39  feat_39  61878 non-null  int64
 40  feat_40  61878 non-null  int64
 41  feat_41  61878 non-null  int64
 42  feat_42  61878 non-null  int64
 43  feat_43  61878 non-null  int64
 44  feat_44  61878 non-null  int64
 45  feat_45  61878 non-null  int64
 46  feat_46  61878 non-null  int64
 47  feat_47  61878 non-null  int64
 48  feat_48  61878 non-null  int64
 49  feat_49  61878 non-null  int64
 50  feat_50  61878 non-null  int64
 51  feat_51  61878 non-null  int64
 52  feat_52  61878 non-null  int64
 53  feat_53  61878 non-null  int64
 54  feat_54  61878 non-null  int64
 55  feat_55  61878 non-null  int64
 56  feat_56  61878 non-null  int64
 57  feat_57  61878 non-null  int64
 58  feat_58  61878 non-null  int64
 59  feat_59  61878 non-null  int64
 60  feat_60  61878 non-null  int64
 61  feat_61  61878 non-null  int64
 62  feat_62  61878 non-null  int64
 63  feat_63  61878 non-null  int64
 64  feat_64  61878 non-null  int64
 65  feat_65  61878 non-null  int64
 66  feat_66  61878 non-null  int64
 67  feat_67  61878 non-null  int64
 68  feat_68  61878 non-null  int64
 69  feat_69  61878 non-null  int64
 70  feat_70  61878 non-null  int64
 71  feat_71  61878 non-null  int64
 72  feat_72  61878 non-null  int64
 73  feat_73  61878 non-null  int64
 74  feat_74  61878 non-null  int64
 75  feat_75  61878 non-null  int64
 76  feat_76  61878 non-null  int64
 77  feat_77  61878 non-null  int64
 78  feat_78  61878 non-null  int64
 79  feat_79  61878 non-null  int64
 80  feat_80  61878 non-null  int64
 81  feat_81  61878 non-null  int64
 82  feat_82  61878 non-null  int64
 83  feat_83  61878 non-null  int64
 84  feat_84  61878 non-null  int64
 85  feat_85  61878 non-null  int64
 86  feat_86  61878 non-null  int64
 87  feat_87  61878 non-null  int64
 88  feat_88  61878 non-null  int64
 89  feat_89  61878 non-null  int64
 90  feat_90  61878 non-null  int64
 91  feat_91  61878 non-null  int64
 92  feat_92  61878 non-null  int64
 93  feat_93  61878 non-null  int64
 94  target   61878 non-null  object
dtypes: int64(94), object(1)
memory usage: 44.8+ MB

In [9]:
# there are 95 Columns
# all columns are int64 data 
# there are not na value
# id is just number no meaning
# feat_1..feat_93 is : independend
# target is dependend (y)

In [12]:
# Number of row and column

nCar = df.shape[0] # data size, Row size,
nVar = df.shape[1] # variable / column size
print("nCar: %d "%nCar, " Number of variable is %d "%nVar)

nCar: 61878   Number of variable is 95

In [13]:
# since Column 1 is not related so lets drop this 
df = df.drop(["id"], axis = 1) # drop column wise

In [14]:
# Check the target unique value
df["target"].value_counts()

Class_2    16122
Class_6    14135
Class_8     8464
Class_3     8004
Class_9     4955
Class_7     2839
Class_5     2739
Class_4     2691
Class_1     1929
Name: target, dtype: int64

In [15]:
# Convert all these to Number so machine learning is better perform
mapping_dict = {"Class_1": 1,
                "Class_2": 2,
                "Class_3": 3,
                "Class_4": 4,
                "Class_5": 5,
                "Class_6": 6,
                "Class_7": 7,
                "Class_8": 8,
                "Class_9": 9}
# can change column directly or add extra variable
after_mapping_target = df.target.apply(lambda x : mapping_dict[x])

In [17]:
np.unique(after_mapping_target)
# if data size is so big the data type can change to int8, for speed

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

### Split data to train and test

In [18]:
features_columns = list(df.columns.difference(["target"])) # Except target
x = df[features_columns]
y = after_mapping_target # 

x_train, x_test , y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)
print(x_train.shape, x_test.shape)

(49502, 93) (12376, 93)

## Train and test using Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

random_forest_model1 = RandomForestClassifier(n_estimators=20,
                                             max_depth=5,
                                             random_state = 42)

model1 = random_forest_model1.fit(x_train, y_train)

predict1 = model1.predict(x_test) # 

print("Accuracy : %.2f"%(accuracy_score(y_test, predict1)*100), "%")

Accuracy : 60.16 %

## How about adding more tree

In [22]:
random_forest_model3 = RandomForestClassifier(n_estimators=300, 
                                             max_depth=20,
                                             random_state=42)
model3 = random_forest_model3.fit(x_train, y_train)

predict_3 = model3.predict(x_test)
print("Accuracy : %.2f "% (accuracy_score(y_test, predict_3) * 100), '%') # Accuracy

Accuracy : 78.09  %

### Increasing Accuracy , So lets inc

In [23]:
random_forest_model4 = RandomForestClassifier(n_estimators = 300,
                                             max_depth = 100,
                                             random_state = 42,
                                             )

model4 = random_forest_model4.fit(x_train, y_train)

predict4 = model4.predict(x_test)
print("Accuracy: %.2f"%(accuracy_score(y_test, predict4)*100), "%")

Accuracy: 81.23 %

### Thank you